[submodule "foundry_ws/lib/forge-std"]
	path = foundry_ws/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_ws/lib/openzeppelin-contracts"]
	path = foundry_ws/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
