{% extends "base.html" %}
<head>
    <title>About Me - Amit</title>
    <meta name="description" content="About the Author of the system - Amit Aharoni.">
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
</head>
{% block content %}
<h2 class="highlight">About me - Amit</h2>
<div>
    <p><img src="../img/AA_Profile_Pic.jpg" align="right" alt="Amit Aharoni Profile Picture" width="121" height="181.5"></p>
    <p>My name is Amit Aharoni, I'm a second-year computer science student based in NYC.</p>
</div>

<div id="footer">
    Join me on my social profiles!
</div>

{% endblock %}