<!DOCTYPE html>
<html lang="en">
<head>
    <title>EcoCoin</title>
    <meta charset="UTF-8">
    <meta name="author" content="Amit Aharoni">
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about_me">About Me</a> |
        <a href="/blockchain">Blockchain</a> |
        <a href="/mine">Mine</a> |
        <a href="/nodes/sync">Sync Nodes</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>